# Raw data (too large, download from Kaggle)
data/raw/

# Generated database
*.db
*.sqlite

# Large processed files
data/processed/master_orders.csv
data/processed/fact_orders.csv
data/processed/dim_customers.csv
data/processed/rfm_scores.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
venv/